
###########################################################
# Collector Data
###########################################################
COLLECTOR_NAME = wmscollector_service
COLLECTOR_HOST = $(CONDOR_HOST):9618

#-- disable VOMS checking
COLLECTOR.USE_VOMS_ATTRIBUTES = False

#-- allow more file descriptors (only works if Condor is started as root)
##COLLECTOR_MAX_FILE_DESCRIPTORS=20000
