#
# Configure logging for the XrootD stand alone server
#
# ************************************************************
# * NOTE: Changes to this file will be PRESERVED on upgrades *
# ************************************************************
#


# Standard logging
xrootd.trace emsg login stall redirect
# Uncomment this for debugging but comment them back once done                                                                                                                            
#ofs.trace all
#xrd.trace all                                                                                                                                                                            
#cms.trace all
#http.trace all
