[Unit]
Description=Virtual Organization Management Service
After=syslog.target network.target

[Service]
# This is a forking service because voms --foreground appears broken in the current version of voms (2.0.12)
Type=forking
EnvironmentFile=-/etc/sysconfig/voms
ExecStart=/usr/sbin/voms --conf /etc/voms/%i/voms.conf
User=voms
Group=voms

[Install]
WantedBy=multi-user.target

