[Unit]
Description=Cron service based on Condor
After=syslog.target network.target
Wants=network.target

[Service]
Type = forking
ExecStart=/etc/init.d/condor-cron start
ExecStop=/etc/init.d/condor-cron stop
ExecReload=/etc/init.d/condor-cron reload
Restart=always
RestartSec=5
StandardOutput=syslog
LimitNOFILE=16384
ControlGroup=/condor-cron

[Install]
WantedBy=multi-user.target

