# This config file sets up basic authentication for HTCondor, consisting of
# a "pool password" for daemon-to-daemon configuration, and "filesystem auth"
# for user and admin commands.  The pool password file located at
# /etc/condor/passwords.d/POOL must be copied to all hosts that are part of
# the pool.  As your cluster grows, consider switching to a more advanced
# form of authentication, such as GSI or SSL.

# See the HTCondor Manual on security at
# https://htcondor.readthedocs.io/en/v8_8_4/admin-manual/security.html
# for more information.

# A pool password has already been created as part of the installation.
# In case you need to create a new pool password file, run
# /usr/libexec/condor/create_pool_password


# require authentication and integrity for everything...
SEC_DEFAULT_AUTHENTICATION=REQUIRED
SEC_DEFAULT_INTEGRITY=REQUIRED

# ...except read access...
SEC_READ_AUTHENTICATION=OPTIONAL
SEC_READ_INTEGRITY=OPTIONAL

# ...and the outgoing (client side) connection since the server side will enforce its policy
SEC_CLIENT_AUTHENTICATION=OPTIONAL
SEC_CLIENT_INTEGRITY=OPTIONAL

# this will required PASSWORD authentications for daemon-to-daemon, and
# allow FS authentication for submitting jobs and running administrator commands
SEC_DEFAULT_AUTHENTICATION_METHODS = FS, PASSWORD
SEC_DAEMON_AUTHENTICATION_METHODS = PASSWORD
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = PASSWORD
SEC_PASSWORD_FILE = /etc/condor/passwords.d/POOL

# admin commands (e.g. condor_off) can be run by:
#  1. root on the local host or the central manager
#  2. condor user on the local host or the central manager
ALLOW_ADMINISTRATOR = condor@*/$(FULL_HOSTNAME) condor@*/$(CONDOR_HOST) condor_pool@*/$(FULL_HOSTNAME) condor_pool@*/$(CONDOR_HOST)  root@$(UID_DOMAIN)/$(FULL_HOSTNAME)
# only the condor daemons on the central manager can negotiate
ALLOW_NEGOTIATOR = condor@*/$(CONDOR_HOST) condor_pool@*/$(CONDOR_HOST)
# any authenticated daemons in the pool can read/write/advertise
ALLOW_DAEMON = condor@* condor_pool@*

