# This config file sets up the daemons for a single node install of HTCondor,
# where all the daemons required for running a pool of one machine are
# enabled.  This config is only useful for testing and experimentation.
#
# Once you are ready to add additional machines to your pool,
# refer to the HTCondor Administrators' Manual on the roles a machine
# can play [1] and how to configure those roles [2].
#
# [1] https://htcondor.readthedocs.io/en/v8_8_4/admin-manual/introduction-admin-manual.html#the-different-roles-a-machine-can-play
# [2] https://htcondor.readthedocs.io/en/v8_8_4/admin-manual/configuration-templates.html#configuration-templates
#
# NOTE: you must unset the DAEMON_LIST (`DAEMON_LIST = `) before using the
# `use role` commands in listed in the manual.

# CONDOR_HOST is the location of the central manager (the host that runs
# the collector and the negotiator)
CONDOR_HOST = $(FULL_HOSTNAME)
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD, STARTD

