[Unit]
Description = OSG services
Requires = condor-ce condor-cron.service edg-mkgridmap.service fetch-crl-boot.service fetch-crl-cron.service globus-gridftp-server.service gratia-probes-cron.service gums-client-cron.service rsv.service
After = condor-ce condor-cron.service edg-mkgridmap.service fetch-crl-boot.service fetch-crl-cron.service globus-gridftp-server.service gratia-probes-cron.service gums-client-cron.service rsv.service

