############################################################
## Security config
############################################################

############################
# Authentication settings
############################
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = FS
SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = OPTIONAL

############################
# Privacy settings
############################
SEC_DEFAULT_ENCRYPTION = OPTIONAL
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL
SEC_READ_ENCRYPTION = OPTIONAL
SEC_CLIENT_ENCRYPTION = OPTIONAL

##  Without strong security, the only secure connection is the local one
HOSTALLOW_WRITE = $(FULL_HOSTNAME)

############################################################
## GSI Security config
############################################################

############################
# Authentication settings
############################
SEC_DEFAULT_AUTHENTICATION_METHODS = FS,GSI
DENY_WRITE = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON = anonymous@*
DENY_NEGOTIATOR = anonymous@*

# Grid Certificate directory EDIT THIS
GSI_DAEMON_TRUSTED_CA_DIR=/etc/grid-security/certificates

############################
# Set daemon cert location
############################
GSI_DAEMON_DIRECTORY = /etc/grid-security

#####################################
# Limit session caching to ~12h
#####################################
# Brian (01/25/2010).  Unset at Dan Bradley's request.
#SEC_DEFAULT_SESSION_DURATION = 50000

#####################################################
# With strong security, do not use IP based controls
#####################################################
HOSTALLOW_WRITE = *

##########################################################
# Prepare the Shadow for use with glexec-enabled glideins
##########################################################
SHADOW.GLEXEC_STARTER = True
SHADOW.GLEXEC = /bin/false


######################################################
## This is a Collector machine, limit deamons
######################################################
DAEMON_LIST   = MASTER, COLLECTOR, NEGOTIATOR
COLLECTOR_NAME = GlideinWMS Frontend
COLLECTOR_HOST  = $(CONDOR_HOST):9618

############################################################
## Negotiator tuning
############################################################
# Prefer newer claims as they are more likely to be alive
NEGOTIATOR_POST_JOB_RANK = MY.LastHeardFrom
# Increase negotiation frequency, as new glideins do not trigger a reschedule 
NEGOTIATOR_INTERVAL = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=40
NEGOTIATOR_MAX_TIME_PER_PIESPIN=20
# Prevent preemption
PREEMPTION_REQUIREMENTS = False
# negotiator/GCB optimization
NEGOTIATOR_INFORM_STARTD = False
MAXJOBRETIREMENTTIME = 30
# Causes Negotiator to run faster. PREEMPTION_REQUIREMENTS and all condor_startd rank expressions must be False for NEGOTIATOR_CONSIDER_PREEMPTION to be False
NEGOTIATOR_CONSIDER_PREEMPTION = False


# forward ads to the main collector
# (this is ignored by the main collector, since the address matches itself)
CONDOR_VIEW_HOST = $(COLLECTOR_HOST)

#####################################
# Enable match authentication
#####################################
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION=TRUE
######################################################
## This is both a Collector and a Schedd machine
######################################################
DAEMON_LIST   = $(DAEMON_LIST) SCHEDD


######################################################
## Schedd tuning
######################################################

# Allow up to 6k concurrent running jobs
MAX_JOBS_RUNNING        = 10000
# Start max of 50 jobs every 2 seconds
JOB_START_DELAY = 2
JOB_START_COUNT = 50
# Stop 30 jobs every seconds
# This is needed to prevent glexec overload, when used
# Works for Condor v7.3.1 and up only, but harmless for older versions
JOB_STOP_DELAY = 1
JOB_STOP_COUNT = 30

# Raise file transfer limits
# no upload limits, since JOB_START_DELAY limits that
MAX_CONCURRENT_UPLOADS = 100
# but do limit downloads, as they are asyncronous
MAX_CONCURRENT_DOWNLOADS = 100

# Prevent checking on ImageSize
APPEND_REQ_VANILLA = (Memory>=1)

# Prevent preemption
#MAXJOBRETIREMENTTIME = $(HOUR) * 24 * 7

#GCB optimization
SCHEDD_SEND_VACATE_VIA_TCP = True
STARTD_SENDS_ALIVES = True


# Specify that you only want the master and the broker running
#DAEMON_LIST = MASTER, GCB_BROKER
#DAEMON_LIST = $(DAEMON_LIST), GCB_BROKER

# Define the path to the broker binary for the master to spawn
GCB_BROKER = $(RELEASE_DIR)/libexec/gcb_broker

# Define the path to the release_server binary for the broker to use 
GCB_RELAY = $(RELEASE_DIR)/libexec/gcb_relay_server

# Setup the gcb_broker's environment.  We use a macro to build up the
# environment we want in pieces, and then finally define
# GCB_BROKER_ENVIRONMENT, the setting that condor_master uses.

# Initialize an empty macro
GCB_BROKER_ENV =

# (recommended) Provide the full path to the gcb_relay_server
GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_RELAY_SERVER=$(GCB_RELAY)

# (recommended) Tell GCB to write all log files into the Condor log
# directory (the directory used by the condor_master itself)
GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_LOG_DIR=$(LOG)
# Or, you can specify a log file separately for each GCB daemon:
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_BROKER_LOG=$(LOG)/GCB_Broker_Log
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_RELAY_SERVER_LOG=$(LOG)/GCB_RS_Log

GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_DEBUG_LEVEL=fulldebug

# (optional -- only set if true) Tell the GCB broker that it can
# directly connect to machines in the private network which it is
# handling communication for.  This should only be enabled if the GCB
# broker is running directly on a network boundary and can open direct
# connections to the private nodes.
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_ACTIVE_TO_CLIENT=yes

# (optional) turn on verbose logging for all of GCB
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_DEBUG_LEVEL=fulldebug
# Or, you can turn this on separately for each GCB daemon:
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_BROKER_DEBUG=fulldebug
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_RELAY_SERVER_DEBUG=fulldebug

# (optional) specify the maximum log file size (in bytes)
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_MAX_LOG=640000
# Or, you can define this separately for each GCB daemon:
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_BROKER_MAX_LOG=640000
#GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_RELAY_SERVER_MAX_LOG=640000

# How many connections should it serve
GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_MAX_RELAY_SERVERS=200
GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_MAX_CLIENTS_PER_RELAY_SERVER=100

# How tolerant should it be to blocked connections
GCB_BROKER_ENV = $(GCB_BROKER_ENV);GCB_COMMAND_TIMEOUT=1.5

# Finally, set the value the condor_master really uses
GCB_BROKER_ENVIRONMENT = $(GCB_BROKER_ENV)

# If your Condor installation on this host already has a public
# interface as the default (either because it is the first interface
# listed in this machine's host entry, or because you've already
# defined NETWORK_INTERFACE), you can just use Condor's special macro
# that holds the IP address for this.
GCB_BROKER_IP = $(ip_address)
# Otherwise, you could define it yourself with your real public IP:
# GCB_BROKER_IP = 123.123.123.123

# (required) define the command-line arguments for the broker 
GCB_BROKER_ARGS = -i $(GCB_BROKER_IP)

#####################################
# Tell schedd daemons where is GCB
#####################################
#SCHEDD.NET_REMAP_ENABLE=TRUE
#SCHEDD.NET_REMAP_SERVICE=GCB
#SCHEDD.NET_REMAP_ROUTE=/opt/glidecondor/etc/gcb-routing-table
#SCHEDD.NET_REMAP_INAGENT=$(GCB_BROKER_IP)


# Added by Derek
# Removed by Brian on advice from Igor
#SEC_TOOL_SESSION_DURATION = 60

# Added by Brian for Gratia support
#PER_JOB_HISTORY_DIR = /opt/vdt/gratia/var/data

# Added by Derek for logging (in bytes)
#MAX_COLLECTOR_LOG = 100000000
MAX_SHADOW_LOG = 100000000

# Added by Brian 01/28/2010 at Igor's request.
SEC_DAEMON_SESSION_DURATION=50000

# Added by Derek to stop the crashing
#MAX_FILE_DESCRIPTORS = 16384
COLLECTOR_MAX_FILE_DESCRIPTORS=20000

# Added to stop memory leak
#USE_VOMS_ATTRIBUTES = False
COLLECTOR.USE_VOMS_ATTRIBUTES = False 

# Added to attempt to fix the dead condor_shadow problem.
ENABLE_URL_TRANSFERS=TRUE
FILETRANSFER_PLUGINS = /foo/bar

# Avoid scheduling at any slot that has been silent for a suspiciously long time.
#APPEND_REQUIREMENTS=(CurrentTime-LastHeardFrom)<600

PeriodicHold = (ImageSize > 2048000)
#JOBGLIDEIN_Site="$$([TARGET.GLIDEIN_Site])"
JOBGLIDEIN_Site='$$([IfThenElse(IsUndefined(TARGET.GLIDEIN_Site), "Local Job", TARGET.GLIDEIN_Site)])'
#SUBMIT_EXPRS = $(SUBMIT_EXPRS) X509USERPROXY PeriodicHold JOBGLIDEIN_Site
# Removed x509 requirement - Derek
SUBMIT_EXPRS = $(SUBMIT_EXPRS) PeriodicHold JOBGLIDEIN_Site

SYSTEM_PERIODIC_HOLD = (JobStatus == 2) && (ImageSize > 3048000)

# Write all Condor Events to a log file.
EVENT_LOG=$(LOG)/EventLog
#EVENT_LOG_USE_XML=True
EVENT_LOG_JOB_AD_INFORMATION_ATTRS=Owner,CurrentHosts,x509userproxysubject,AccountingGroup,GlobalJobId,QDate,JobStartDate,JobCurrentStartDate,JobFinishedHookDone,MATCH_EXP_JOBGLIDEIN_Site,RemoteHost

# Added to hurry job buildup - Derek
NEGOTIATOR_MAX_TIME_PER_PIESPIN = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER = 60


