# This file contains all the custom parameters that need to be edited!

############################
# Credentials
############################
#GSI_DAEMON_PROXY = /tmp/x509up_u1349

# EDIT THESE VALUES
# If you ever decide to use a Certificate, see below
GSI_DAEMON_CERT = /etc/grid-security/glideincert.pem
GSI_DAEMON_KEY  = /etc/grid-security/glideinkey.pem

#################################
# Where to find ID->uid mappings EDIT THIS
#################################
CERTIFICATE_MAPFILE=/etc/condor/certs/condor_mapfile

#####################################
# Add whitelist of condor daemon DNs EDIT THIS
#####################################
GSI_DAEMON_NAME=/DC=org/DC=doegrids/OU=People/CN=Charlie Brown 123456
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=doegrids/OU=Services/CN=host/glidein.unl.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=doegrids/OU=Services/CN=host/glidein-1.t2.ucsd.edu
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=doegrids/OU=People/CN=Fred Flintstone 999999
GSI_DAEMON_NAME=$(GSI_DAEMON_NAME),/DC=org/DC=doegrids/OU=Services/CN=host/cpass.unl.edu


