[Unit]
Description=OSPool Backfill Container Service
After=network.target
StartLimitIntervalSec=600
StartLimitBurst=3

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/osg/ospool-ep.cfg

ExecStartPre=-/usr/bin/docker container rm -f ospool-ep-container
ExecStart=/usr/sbin/start_ospool_ep_container.sh

ExecStop=-/usr/bin/docker container stop -t 120 ospool-ep-container
ExecStopPost=-/usr/bin/docker container rm ospool-ep-container

[Install]
WantedBy=multi-user.target

