module hadoop-fuse 1.0;

require {
        type mount_t;
        type shell_exec_t;
        type proc_net_t;
        type random_device_t;
        type java_exec_t;
        type fusefs_t;
        type fonts_t;
        class process { execstack execmem getsched setrlimit signull };
        class tcp_socket { accept listen };
        class chr_file read;
        class file { execute read getattr execute_no_trans };
        class dir { read getattr search };
        class lnk_file read;
}

#============= mount_t ==============
allow mount_t fusefs_t:dir { read getattr };
allow mount_t java_exec_t:file { read getattr execute execute_no_trans };
allow mount_t proc_net_t:dir search;
allow mount_t proc_net_t:file { read getattr };
allow mount_t random_device_t:chr_file read;
allow mount_t self:process { execstack execmem getsched setrlimit signull };
allow mount_t self:tcp_socket { accept listen };
allow mount_t shell_exec_t:file { read execute getattr execute_no_trans };

# Java tries to read font files; deny, but dont log
dontaudit mount_t fonts_t:lnk_file read;

